
<%= render partial: 'as_html', locals: { items: @items } %>

<div class="bottom navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container">
      <%=  form_tag "/standups/#{@standup.id}/posts", method: 'post', class: 'navbar-form pull-right' do %>
        <%= text_field_tag 'post[title]', nil, placeholder: "朝回のタイトルを入力してください" %>
        <%= submit_tag "内容をクリア",
                       confirm: "内容をクリアしメールを送りますがよろしいですか？",
                       id: 'create-post',
                       class: 'btn btn-primary'
        %>
      <% end %>

    </div>
  </div>
</div>
